<svg class="icon icon--arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.33 27">
  <title>Arrow - Right</title>
  <path d="M.24,26.77a.76.76,0,0,0,1.09,0L14.1,14.05a.75.75,0,0,0,0-1.08L1.33.24A.77.77,0,0,0,.78,0,.82.82,0,0,0,.22.22.82.82,0,0,0,0,.78a.75.75,0,0,0,.24.54L12.47,13.51.24,25.69a.79.79,0,0,0-.22.54.76.76,0,0,0,.22.54Z" />
</svg>