<svg class="icon icon--arrow-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.33 27">
  <title>Arrow - Left</title>
  <path id="Path" d="M14.08.23A.73.73,0,0,0,13.54,0,.74.74,0,0,0,13,.23L.23,13A.75.75,0,0,0,.23,14L13,26.76a.76.76,0,0,0,.55.24.77.77,0,0,0,.78-.78.76.76,0,0,0-.25-.54L1.85,13.49,14.08,1.31a.76.76,0,0,0,.23-.54.73.73,0,0,0-.23-.54Z" />
</svg>