<svg class="icon icon--arrow-up" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>Arrow - Up</title>
    <g id="ARROW-UP" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <polygon id="Path" fill="#000000" fill-rule="nonzero" transform="translate(16.000000, 16.000000) scale(1, -1) translate(-16.000000, -16.000000) " points="6 11.8437172 15.1058144 20.1562828 15.9997951 21 16.9212387 20.1562828 26 11.8437172 25.1056094 11 15.9997951 19.3377121 6.92144365 11"></polygon>
    </g>
</svg>