<svg class="icon icon--heart" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 23.46">
  <title>Heart Outline</title>
  <path d="M6.58,0C4.9,0,3.21,.68,1.92,2.04-.64,4.76-.64,9.13,1.92,11.85l10.84,11.51h0c.06,.06,.14,.1,.23,.1s.17-.04,.23-.1c3.62-3.83,7.23-7.67,10.85-11.5,2.57-2.72,2.57-7.08,0-9.8-2.57-2.72-6.74-2.72-9.3,0l-1.76,1.86-1.78-1.88C9.94,.68,8.26,0,6.58,0h0Zm0,.62c1.51,0,3.01,.62,4.18,1.85l2.01,2.13c.06,.06,.14,.1,.23,.1s.17-.04,.23-.1l1.99-2.12C17.56,.02,21.28,.02,23.61,2.49c2.33,2.47,2.33,6.46,0,8.94-3.54,3.75-7.07,7.51-10.61,11.25L2.39,11.41C.06,8.94,.06,4.95,2.39,2.48,3.55,1.24,5.07,.62,6.58,.62h0Z" />
</svg>