<svg class="icon icon--plus" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
  <title>Plus</title>
  <polygon points="12 5.45 6.55 5.45 6.55 0 5.45 0 5.45 5.45 0 5.45 0 6.55 5.45 6.55 5.45 12 6.55 12 6.55 6.55 12 6.55 12 5.45" />
</svg>