<svg class="icon icon--search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 17.5">
  <title>Magnifying Glass</title>
  <path d="M16.85,16.65l-4.81-4.81c1.21-1.26,1.95-2.96,1.95-4.84C14,3.14,10.86,0,7,0S0,3.14,0,7s3.14,7,7,7c1.62,0,3.11-.56,4.3-1.49l4.84,4.84c.1,.1,.23,.15,.35,.15s.26-.05,.35-.15c.2-.2,.2-.51,0-.71ZM1,7C1,3.69,3.69,1,7,1s6,2.69,6,6-2.69,6-6,6S1,10.31,1,7Z" />
</svg>