{%- comment -%}
 * Snippet: predictive-search--resources.liquid
 * --------------------------------------------
 * Used to display predictive search resources, such as products, collections and articles.
 * @param title - required
 * @param resources - required
{%- endcomment -%}

{%- if resources.size > 0 -%}
  <h1 id="predictive-search-products" class="predictive-search__heading h4 {% if title == 'Products' %}mb-8{% else %}mb-4{% endif %}">{{ title }}</h1>
  <ul id="predictive-search-results-list" class="predictive-search__results-list border-b border-black pb-16 mb-16 {% if title == 'Products' %}results-grid{% endif %}" role="listbox" aria-labelledby="predictive-search-products">
  {%- for resource in resources -%}
    <li class="predictive-search__list-item" role="option">
      <a href="{{ resource.url }}" class="predictive-search__item search-link" tabindex="-1">
        {% if title == 'Products' %}
          {% if resource.image != blank or resource.featured_media != blank %}
            <div class="predictive-search__item-image mb-4 max-w-[300px]">
              {% if resource.image != blank %}
                {% render 'lazy-image', image: resource.image %}
              {% else %}            
                {% render 'lazy-image', image: resource.featured_media %}
              {% endif %}
            </div>
          {% endif %}
        {% endif %}
        <div class="predictive-search__item-content {% if title == 'Products' %}text-center max-w-[300px]{% endif %}">
          <span class="predictive-search__item-heading h4 font-300">{{ resource.title }}</span>
        </div>
      </a>
    </li>
  {%- endfor -%}
  </ul>
{%- endif -%}
