<section class="account self-center justify-self-center w-full max-w-[475px]">
  <div class="account__container border">
    {%- form 'reset_customer_password', class: 'account__reset-password' -%}
      <h1 class="account__title">Reset Account Password</h1>
      <p>Enter a new password for {{email}}</p>
      {%- if form.errors -%}
        <ul class="form__errors">
          {% for field in form.errors %}
            <li>
              {% if field == 'form' %}
                {{ form.errors.messages[field] }}
              {% else %}
                {{ form.errors.translated_fields[field] }} - {{ form.errors.messages[field] }}
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      {%- endif -%}

      <div class="relative">
        <label for="password" class="form__label">
          Password
        </label>    
        <input
          type="password"
          name="customer[password]"
          id="password"
          class="form__element"
          autocomplete="new-password"
          {% if form.errors contains 'password' %}
            aria-invalid="true"
            aria-describedby="password-error"
          {% endif %}
          placeholder="Password"
        >
      </div>

      <div class="relative">
        <label for="password_confirmation" class="form__label">
          Confirm Password
        </label>      
        <input
          type="password"
          name="customer[password_confirmation]"
          id="password_confirmation"
          class="form__element"
          autocomplete="new-password"
          {% if form.errors contains 'password_confirmation' %}
            aria-invalid="true"
            aria-describedby="password_confirmation-error"
          {% endif %}
          placeholder="Confirm Password"
        >
      </div>

      <button class="btn">Reset Password</button>
    {%- endform -%}
  </div>
</section>
