<div class="template-404 min-h-[80vh] text-center flex flex-col justify-center items-center">
  <p>
    {{ 'templates.404.subtext' | t }}
  </p>
  <h1 class="title my-24">
    {{ 'templates.404.title' | t }}
  </h1>
  <a href="{{ routes.all_products_collection_url }}" class="btn">
    {{ 'general.continue_shopping' | t }}
  </a>
</div>
