<div class="nosto_element" id="{{ section.settings.placement }}"></div>

{% schema %}
{
  "name": "Nosto placement",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "placement",
      "label": "Placement id"
    }
  ],
  "presets": [
    {
      "name": "Nosto placement"
    }
  ]
}
{% endschema %}