{%- if predictive_search.performed -%}
  <section id="predictive-search-results" class="py-16 border-t border-black desktop:border-transparent desktop:pt-0">
    {% render 'predictive-search--resources' resources: predictive_search.resources.products, title: 'Products' %}
    {% render 'predictive-search--resources' resources: predictive_search.resources.collections, title: 'Collections' %}
    {% render 'predictive-search--resources' resources: predictive_search.resources.articles, title: 'Articles' %}
    {% render 'predictive-search--resources' resources: predictive_search.resources.pages, title: 'Pages' %}
    <button class="predictive-search__item btn block mx-auto" tabindex="-1">Search for “{{ predictive_search.terms }}”</button>
  </section>
{%- endif -%}