{% comment %}
  Template to be used for getting product-card layout 
  products/{{product-handle}}?view=product-card
{% endcomment %}
<div class="product-card" js-product-card>
  {% render 'product-card', product: product %}
</div>